.solution.big {
    color: white;
    font-size: 12pt;
    padding: 7px;
    width: 125px;
    float: right;
    text-align: center;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.solution.small {
    color: white;
    font-size: 8pt;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    width: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.solution:hover {
    color: white;
    text-decoration: none;
}

.solution.open {
    border: 1px solid #555;
    background: #777;
}

.solution.open:hover {
    background: #999;
}

.solution.closed {
    border: 1px solid #383;
    background: #5A5;
}

.solution.closed:hover {
    background: #7C7;
}

ul.challenges
{
    list-style-type: none;
}

.center {
    text-align: center;
}

.pic {
    display: inline-block;
}

.pic {
    text-align: center;
    margin: 20px 10px;
    
}

.pic img {
    border: 1px solid #666;  
    background-color: #EEE;
    padding: 5px;
}

.pic p {
    font-style: italic;
}

.feed {
    background: url('rss.png');
    float: right;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 4px 0;
}
